* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(22, 74, 119);
    overflow: hidden;
}

fieldset {
    width: 80vw;
    margin-left: 10vw;
    height: 80vh;
    margin-top: 10vh;
    box-shadow: 10px 10px black;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

legend {
    color: black;
    text-shadow: 1px 1px gray;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-color: white;
    padding: 0 5px 0 5px;
    font-size: xx-large;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

#canvas {
    padding: 0;
    width: calc(80vw - 20px);
    margin-left: 10px;
    height: calc(80vh - 60px);
    margin-top: 10px;
}