@page "/"
@layout MainLayout

<PageTitle>Nickolas Gupton</PageTitle>

<Row>
    <Box Title="Hello there!">
        <p>
            I started programming in High School, and have had a passion for it ever since.
            The first language I ever used was Java and it will always have a soft spot in my heart, however since then I have learned and grown to love many other languages such as C#, C++, Python, and JavaScript.
            The best thing to me about being a Software Developer is the constant need to learn and hone your skills with how quickly new technologies and best practices are released.
            <br />
            <br /> Some qualities for developing software that I think are important:
            <br /> Write readable code: if no one can read the code and edit it that does nothing but hurt everyone in the long run.
            <br /> Documentation is just as important as code: if you write some awesome piece of software and no one knows how to use it, then its not a useful one.
            <br /> Always improve and learn: this field moves so quickly compared to others, if you are not constantly learning you'll end up getting left behind.
            <br />
            <br /> Below you will find some more information about me and what I am currently doing.
        </p>
    </Box>
</Row>

<Row>
    <Box Title="What I do">
        <Row>
            <Box TitleType="TitleType.H3" Title="Programming" BackgroundColorOverride="#454d6a">
                <Row>
                    <SkillsList>
                        <Skill Name="Git" StartYear="2014" />
                        <Skill Name="HTML" StartYear="2014" />
                        <Skill Name="CSS" StartYear="2014" />
                        <Skill Name="JavaScript" StartYear="2014" />
                        <Skill Name="Linux" StartYear="2014" />
                        <Skill Name="SQL" StartYear="2020" />
                        <Skill Name="C#" StartYear="2020" />
                        <Skill Name=".NET Core" StartYear="2020" />
                        <Skill Name=".NET Framework" StartYear="2020" />
                    </SkillsList>
                    <SkillsList>
                        <Skill Name="ASP.NET" StartYear="2020" />
                        <Skill Name="Avalonia" StartYear="2020" />
                        <Skill Name="Unit Testing (+Gherkin)" StartYear="2020" />
                        <Skill Name="Autofac DI" StartYear="2021" />
                        <Skill Name="Java" StartYear="2014" EndYear="2021" />
                        <Skill Name="Python" StartYear="2016" EndYear="2022" />
                        <Skill Name="C++" StartYear="2016" EndYear="2020" />
                        <Skill Name="Angular" StartYear="2020" EndYear="2022" />
                    </SkillsList>
                </Row>
            </Box>
            <Box TitleType="TitleType.H3" Title="Tech" BackgroundColorOverride="#454d6a">
                <Row>
                    <SkillsList>
                        <Skill Name="Linux Server Management" StartYear="2016" />
                        <Skill Name="Bash" StartYear="2016" />
                        <Skill Name="CI/CD (GitHub Actions)" StartYear="2018" />
                        <Skill Name="Network Attached Storage" StartYear="2018" />
                        <Skill Name="Virtualization" StartYear="2018" />
                        <Skill Name="Microsoft SQL Server" StartYear="2020" />
                        <Skill Name="CI/CD (Azure DevOps)" StartYear="2020" />
                        <Skill Name="Windows Server Management" StartYear="2018" EndYear="2020" />
                        <Skill Name="Terraform" StartYear="2021" EndYear="2022" />
                    </SkillsList>
                </Row>
            </Box>
        </Row>
    </Box>
</Row>

<Row>
    <Box Title="My personal projects">
        <Row>
            <Box TitleType="TitleType.H3" Title="In Development" BackgroundColorOverride="#454d6a">
                <h4><a href="https://github.com/CorruptComputer/Bones" target="_blank" rel="noopener">Bones (working name)</a>:</h4>
                <p>
                    Bones is a project management platform I am developing in my free time,
                    I've tried a lot of different platforms and none of them have worked exactly the way I wanted,
                    so this is my attempt at making one to exactly fit my needs.
                    <br />Used: Blazor WebAssembly, Cloudflare, CSS, C#, Git, HTML, JavaScript, Postgres
                </p>
                <h4><a href="https://github.com/CorruptComputer/BaldersGait" target="_blank" rel="noopener">BaldersGait (working name)</a>:</h4>
                <p>
                    BaldersGait is a goofy little idle game I am developing in my free time.
                    It is about running a barber shop that gives a single haircut type, bald.
                    <br />Used: Avalonia, C#, Git
                </p>
                <h4><a href="https://github.com/CorruptComputer/Shipyard" target="_blank" rel="noopener">Shipyard</a>:</h4>
                <p>
                    Shipyard is a .NET application to package .NET applications on Linux.
                    Currently supports RPM packages, more formats in development.
                    <br />Used: C#, Git, NuGet
                </p>
                <h4><a href="https://github.com/CorruptComputer/ReQuesty" target="_blank" rel="noopener">ReQuesty</a>:</h4>
                <p>
                    Fork of Kiota, an OpenAPI based HTTP Client code generator.
                    Changing this to better suit my needs.
                    <br />Used: C#, Git, NuGet
                </p>
            </Box>
            <Box TitleType="TitleType.H3" Title="Maintaining" BackgroundColorOverride="#454d6a">
                <h4><a href="https://github.com/CorruptComputer/home" target="_blank" rel="noopener">My Website</a>:</h4>
                <p>
                    The site you're currently looking at.
                    I am not a designer, but I hope it still looks alright!
                    <br />Used: Blazor WebAssembly, Cloudflare, CSS, C#, Git, HTML
                </p>
                <h4><a href="https://github.com/CorruptComputer/Questy" target="_blank" rel="noopener">Questy</a>:</h4>
                <p>
                    Fork of MediatR from before their license change.
                    Maintaining for my own projects that depend on it, no plans for major changes.
                    <br />Used: C#, Git, NuGet
                </p>
                <h4><a href="https://github.com/CorruptComputer/Beepsky" target="_blank" rel="noopener">Beepsky</a>:</h4>
                <p>
                    Successor to Officer-Beepsky, this bot was rewritten in C# and uses NetCord.
                    <br />Used: C#, Git
                </p>
            </Box>
            <Box TitleType="TitleType.H3" Title="End of Life" BackgroundColorOverride="#454d6a">
                <h4><a href="https://github.com/CorruptComputer/ProtonDB-Tags" target="_blank" rel="noopener">ProtonDB Tags</a>:</h4>
                <p>
                    This script takes ProtonDB ratings and imports them into your Steam library as tags.
                    <br />Used: Git, Python, Web API's
                </p>
                <h4><a href="https://github.com/CorruptComputer/Officer-Beepsky" target="_blank" rel="noopener">Officer-Beepsky</a>:</h4>
                <p>
                    Officer-Beepsky is an open source Discord bot.
                    I made it for some friends and myself to use in order to play music and manage our server.
                    It was built with Discord4J as its main API to use to connect to Discord.
                    <br />Used: Bash, Git, Gradle, Java, PowerShell
                </p>
            </Box>
        </Row>
    </Box>
</Row>

<Row>
    <Box Title="Where I work">
        <Row>
            <Box TitleType="TitleType.H3" Title="Currently" BackgroundColorOverride="#454d6a">
                <h4><a href="https://www.irthsolutions.com/" target="_blank" rel="noopener">Software Engineer II - Irth Solutions</a></h4>
                <p>December 2022 - Present</p>
                <p>
                    I am on a team that develops ticketing and work management systems for critical infrastructure.
                </p>
                <p>Used: ASP.NET, C#, Git, JavaScript, .NET Core, .NET Framework, Microsoft Azure</p>
            </Box>
            <Box TitleType="TitleType.H3" Title="Previously" BackgroundColorOverride="#454d6a">
                <h4><a href="https://www.capgemini.com/" target="_blank" rel="noopener">Associate Consultant: Software Engineering - Capgemini</a></h4>
                <p>February 2020 - December 2022</p>
                <p>
                    I was a Software Engineer working at Capgemini in their Financial Services division.
                </p>
                <p>Used: Amazon Web Services, Angular, ASP.NET, C#, CI/CD, Git, JavaScript, .NET Core, .NET Framework, Node.js, Terraform, TypeScript</p>
            </Box>
        </Row>
    </Box>
</Row>

<Row>
    <Box Title="Ways to get in touch">
        <h4>Email: <a href="mailto:nickolas@gupton.xyz" target="_blank" rel="noopener">nickolas@gupton.xyz</a></h4>
        <h4>GitHub: <a href="https://github.com/CorruptComputer" target="_blank" rel="noopener">CorruptComputer</a></h4>
        <h4>LinkedIn: <a href="https://www.linkedin.com/in/nickolasgupton/" target="_blank" rel="noopener">Nickolas Gupton</a></h4>
    </Box>
</Row>
