img{
   padding: 3px;
   height: 130px;
   cursor: pointer;
   max-width: 100%;
}

.disabled {
   cursor: default;
   opacity: 0.4;
}

.computerSelected {
   border-style: solid;
   border-width: 3px;
   border-color: #FF6740;
   border-radius: 10px;
   padding: 0px;
}

#gameBoard {
   width:100%;
   height:95%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.row {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

@media only screen and (max-width: 1024px) {
   img{
      padding: 3px;
      height: 100px;
      cursor: pointer;
      max-width: 100%;
   }
}

@media only screen and (max-width: 720px) {
   img{
      padding: 3px;
      height: 80px;
      cursor: pointer;
      max-width: 100%;
   }
}