---
layout: default

currentprojects:
- icon: fa-commenting
  content: Polizzia Hut, an open source Discord bot.
  url: https://github.com/CorruptComputer/PolizziaHut
- icon: fa-graduation-cap 
  content: Learning all the things
  url: https://www.angelo.edu

thingsido:
- icon: fa-code
  content: Java, C++ 98, Basic Web
- icon: fa-code-fork
  content: Git
- icon: fa-linux
  content: Linux
- icon: fa-server
  content: Servers and Networking

learning:
- icon: fa-code
  content: C++ 11, Python 3
- icon: fa-database
  content: Machine Learning/Neural Networks

posts:
- image: /images/blog/GNOME desktop.png
  title: My Adventures with Linux
  excerpt: I love Linux, but there are so many different distributions. So how can I know if my current one is my favorite if I don’t try them all?
  url: "/2017/04/26/linux.html"

- image: /images/blog/digital ocean discord bot.png
  title: Digital Ocean and a Discord Bot
  excerpt: If anyone has ever used NadekoBot, you know that its great. But you know what could make it even better? Being 24/7.
  url: "/2017/03/31/discord-bot.html"
  
- image: /images/blog/new site.png
  title: New Site Design!
  excerpt: More about why I wanted this new design.
  url: "/2017/01/13/new-site-design.html"

---

<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>Who am I?</h1>
    </header>
    <p>I'm currently a student at Angelo State University, studying Computer Science.
      I started programming in high school, and had a great teacher.
      My first language was Java and I will always remember my first <code>Hello world!</code>, ever since I have been trying to learn everything I can about programming.
      I have become fascinated by the fact that computers are only limited to the knowledge and skill of the developer, there's almost no end to what is possible.
    </p>
  </div>
  <span class="image object">
		<img src="{{ site.baseurl }}/images/lion.jpg" alt="Banner image" />
	</span>
</section>

<!-- Section -->
<section>
  <header class="major">
      <h2>Things I'm currently working on!</h2>
    </header>
    <p>Some of my current projects.</p>
    {% include components/features.html features=page.currentprojects %}

  <header class="major">
    <h2>Things I can do!</h2>
  </header>
  <p>I don't claim to be an expert is these, but I can do some stuff with them.</p>
  {% include components/features.html features=page.thingsido %}

  <header class="major">
    <h2>Things I am learning!</h2>
  </header>
  <p>I love to learn and am happy to learn almost anything, but these are what I am learning right now.</p>
  {% include components/features.html features=page.learning %}
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>Featured blog posts!</h2>
  </header>
  {% include components/posts.html posts=page.posts %}
</section>
