@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
/* Basic */
.box,
.button,
.image,
.image img,
code,
input[type="button"],
input[type="email"],
input[type="password"],
input[type="reset"],
input[type="submit"],
input[type="text"],
select,
textarea {
	position: relative;
	-ms-behavior: url('assets/js/ie/PIE.htc');
}
/* Form */
input[type="email"],
input[type="password"],
input[type="text"],
select {
	line-height: _size(element-height);
}

input[type="checkbox"],
input[type="radio"] {
	@include vendor( 'appearance', 'normal');

	& + label {
		padding: 0 0 0 1.5em;

		&:before {
			display: none;
		}
	}
}
/* Button */
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	&.alt {
		border: solid _size(border-width) _palette(border2);
	}
}
