<nav>
    <div class="navSquare noHover">
        <img id="monkey" src="{{ site.baseurl }}/images/monkey.png" alt="Monkey" />
    </div>
    <div class="navSquare" id="homeButton">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/images/home.png" alt="Home" />
            <div>Home</div>
        </a>
    </div>
    <div class="navSquare" id="blogButton">
        <a href="{{ site.baseurl }}/blog/">
            <img src="{{ site.baseurl }}/images/blog.png" alt="Blog" />
            <div>Blog</div>
        </a>
    </div>
</nav>