.box {
	position: relative;
	width: 100%;
	padding: 20px;
	margin: 10px;
	background-color: rgb(82, 91, 122);
	
	--notchSize: 40px; 
	clip-path: polygon(
			0% var(--notchSize), 
			var(--notchSize) 0%, 
			0px 0%, 
			100% 0px, 
			100% calc(100% - var(--notchSize)), 
			calc(100% - var(--notchSize)) 100%, 
			0px 100%, 
			0% 0px
		);
}

.boxContent {
    padding-left: 10px;
}

@media only screen and (max-width: 720px) {
	.box {
		position: relative;
		width: 90%;
		padding: 20px;
		margin: 10px;
		background-color: #4d5676;
	}
}