.games-container {
	display: flex;
	flex-direction: column;
	float: right;
	padding: 4%;
	width: 95%;
	left: 200px;
}

@media only screen and (max-width: 1024px) {
	.games-container {
		left: 140px;
	}
}

@media only screen and (max-width: 720px) {
	.games-container {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		padding-bottom: 10px;
		width: 90%;
		left: 0px;
		position: relative;
	}
}