.container {
    display: flex;
    flex-direction: column;
    float: right;
    padding: 4%;
    width: 85%;
}

.gamesContainer {
    display: flex;
    flex-direction: column;
    float: right;
    padding: 4%;
    width: 80%;
}

@media only screen and (max-width: 720px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 80px;
        width: 90%;
        left: 0px;
        position: relative;
    }

    .gamesContainer {
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 150px;
        width: 90%;
        left: 0px;
        position: relative;
    }
}