@inherits LayoutComponentBase
@using Home.Components

<h1 style="display:none;">My Website and Blog</h1>
<div class="@ContainerClass">
    @Body
</div>

@if (ShowGamesNavbar)
{
    <GamesNavbar />
}

<Navbar />