---
layout: default
sitemap:
  lastmod: 2021-03-09 09:00:00
---

{% if paginator.page == 1 %}
    <div class="row">
        <div class="box">
            <h2>About my blog</h2><hr />
            <p>
                I mostly look at programming, Linux, and other tech topics.
                Thanks for checking it out! 
            </p>
        </div>
    </div>
    <hr style="width: 100%;" />
{% endif %}

<!-- Post list -->
{% for post in paginator.posts %}
    <div class="row">
        <div class="box">
            <a href="{{ site.url }}{{ post.url }}"><h2>{{ post.date | date: "%B %-d, %Y" }}: {{ post.title }}</h2></a><hr />
            {{ post.excerpt }}
            <a href="{{ site.url }}{{ post.url }}"><button class="blogBtn">Read More</button></a>
        </div>
    </div>
{% endfor %}

<!-- Pagination -->
{% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ site.url }}{{ paginator.previous_page_path | replace: '//', '/' }}"><button class="blogBtn">Prev</button></a>
        {% else %}
            <button class="blogBtn disabled">Prev</button>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}

            {% if page == 1 %}
                {% assign href = site.paginate_path | replace: '//', '/' | replace: '/page:num', '' %}
            {% else %}
                {% assign href = site.paginate_path | replace: '//', '/' | replace: ':num', page %}
            {% endif %}

            <a href="{{ site.url }}{{ href }}"><button class="blogBtn{% if page == paginator.page %} disabled{% endif %}">{{ page }}</button></a>

        {% endfor %}

        {% if paginator.next_page %}
            <a href="{{ site.url }}{{ paginator.next_page_path | replace: '//', '/' }}"><button class="blogBtn">Next</button></a>
        {% else %}
            <button class="blogBtn disabled">Next</button>
        {% endif %}
    </div>
{% endif %}