---
layout: default
---

<div id="content">
   <div class="bigBox">
      <h2>My blog posts:</h2>

      <div class="postList">
         <!-- Post list -->
         {% for post in paginator.posts %}

         <fieldset class="post">
            <legend><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%B %-d, %Y" }}: {{ post.title }}</a>
            </legend>
            {{ post.excerpt }}
            <a href="{{ site.baseurl }}{{ post.url }}"><button class="blogBtn">Read More</button></a>
         </fieldset>

         {% unless forloop.last %}
            <hr class="major" />
         {% endunless %}

         {% endfor %}
      </div>

      <!-- Pagination -->
      {% if paginator.total_pages > 1 %}

      <div class="pagination">

         {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><button class="blogBtn">Prev</button></a>
         {% else %}
            <button class="blogBtn disabled">Prev</button>
         {% endif %}

         {% for page in (1..paginator.total_pages) %}

            {% if page == 1 %}
               {% assign href = site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: '/page:num', '' %}
            {% else %}
               {% assign href = site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page %}
            {% endif %}

            <a href="{{ href }}" {% if page == paginator.page %}class="active"{% endif %}><button class="blogBtn">{{ page }}</button></a>

         {% endfor %}

         {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><button class="blogBtn">Next</button></a>
         {% else %}
            <button class="blogBtn disabled">Next</button>
         {% endif %}

      </div>

      {% endif %}
   </div>
</div>