<!-- Sidebar -->
<div id="sidebar">
	<div class="inner">

		<!-- Menu -->
		<nav id="menu">
			<header class="major">
				<h2>Menu</h2>
			</header>
			<ul>
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
		</nav>

		<!-- Section -->
		<section>
			<header class="major">
				<h2>Get in touch</h2>
			</header>
			<div class="container">
				<ul class="contact">
					<li class="fa-envelope-o"><a href="mailto:contact@nickolasgupton.me" target="_blank">contact@nickolasgupton.me</a></li>
					<li class="fa-github"><a href="https://github.com/CorruptComputer">GitHub</a></li>
					<li class="fa-comment-o">Discord: CorruptComputer#9473</li>
				</ul>
				
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; Nickolas Gupton. All rights reserved.</p>
		</footer>
	</div>
</div>
