<nav>
    <div class="navSquare noHover">
        <img id="monkey" src="{{ site.baseurl }}/images/monkey.png" alt="Monkey" />
    </div>
    <div class="navSquare selected">
        <a href="{{ site.baseurl }}/index.html">
            <img src="{{ site.baseurl }}/images/home.png" alt="Home" />
            <div>Home</div>
        </a>
    </div>
    <div class="navSquare">
        <a href="{{ site.baseurl }}/blog/index.html">
            <img src="{{ site.baseurl }}/images/blog.png" alt="Blog" />
            <div>Blog</div>
        </a>
    </div>
</nav>