<div class="group">

  <button type="button" id="sidebarExpand" class="navbar-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Nickolas Gupton</h3>

      <button type="button" id="sidebarCollapse" class="navbar-btn">
        <span></span>
        <span></span>
      </button>
    </div>



    <ul class="components">
      <li>
        <a href="{{ site.baseurl }}/index.html">Home</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/blog">Blog</a>
      </li>
      <li>
        <a class="contact" aria-expanded="false">Contact me:</a>
        <ul>
          <li><a href="mailto:contact@nickolasgupton.com"><i class="fa fa-envelope" aria-hidden="true"></i>contact@nickolasgupton.com</a></li>
          <li><a href="https://github.com/CorruptComputer"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a></li>
          <li><a><i class="fa fa-comments" aria-hidden="true"></i>Discord: CorruptComputer#0001</a></li>
        </ul>
      </li>
    </ul>
  </nav>

</div>