@page "/games"
@layout GamesLayout

<Row>
    <Box Title="Web Games">
        <p>
            I have a few web games that I made for fun. They are all open source and available here.
        </p>
    </Box>
</Row>
<hr style="width: 100%;" />

<Row>
    <Box Title="Nim">
        <p>
            Nim is a mathematical game of strategy, which is based on the ancient Chineese board game <a href="https://en.wikipedia.org/wiki/Nim" target="_blank" rel="noopener">Nim</a>.
            In !Nim players take turns removing coins from heaps, and the player who takes the last coin on the board wins!
        </p>
        <p>
            <a href="/games/nim">Play Now</a>
        </p>
    </Box>

    <Box Title="Voronoi">
        <p>
            A Voronoi diagram is a partitioning of a space into regions based on distance to points in the space.
            This is a simple implementation of a Voronoi diagram.
        </p>
        <p>
            <a href="/games/voronoi">Play Now</a>
        </p>
    </Box>
</Row>