<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name='description' content='Blog for Nickolas Gupton. Discusses Programming, Linux, and other Tech topics.'>
{% include header.html %}
      </head>

    <body>
        <h1 style="display:none;">Nickolas Gupton's Blog</h1>
        <div class="container">
            {{ content }}
        </div>

        {% include layout/sidebar-blog.html %}

    </body>

    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</html>