<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name='description' content="My home on the Internet. Discussing programming, Linux, and other tech topics.">
        {% include header.html %}
    </head>

    <body>
        <h1 style="display:none;">Nickolas Gupton's Website and Blog</h1>
        <div class="container">
            {{ content }}
        </div>
        
        {% include navbar.html %}

        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "babad771f26544469aedb30627d230b7"}'></script>
    </body>
</html>