---
layout: default
---
<div class="row">
   <div class="box">
     <h2>{{ page.title }}</h2><hr />

      {% if page.image %}
         <img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}" class="blogImage">
      {% endif %}
      
      <div>
         <p>{{ page.date | date: "%B %-d, %Y" }}</p>

         {{ content }}

         <hr />
         <script src="https://utteranc.es/client.js"
                 repo="CorruptComputer/home"
                 issue-term="url"
                 label="Blog Comments"
                 theme="github-dark"
                 crossorigin="anonymous"
                 async>
         </script>
      </div>
   </div>
</div>
